.header-font{
    color: #7f84e8;
    font-family: "Montserrat";
      font-size: 3rem;
  }
  .header_wrapper{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 4%;
  }
  .accordion-style{
      font-size: 1.7rem;
  }
  .accordion-style  h2{
    font-size: 3rem;
}
  .accordion-wrapper{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 4%;
  }