
.itay{
  width: 15%;
  height: 15%;
  margin: 13% 0 0 55%;
 
}
.asher{
  width: 15%;
  height: 15%;
  margin:13% 0 0 5%;
}

.about_u header{
  margin: -22% 0 0 10%;
  font-size: 45px;
  width: 250px;
  font-weight: bold;
  color: #7f84e8;
  font-family: "Montserrat";
}
 
.about_u p{
  height: 100%;
  width: 700px;
  color: black;
  font-size: 23px;
  font-family: "Montserrat";
  margin: 2% 0 0 10%;
  line-height: 35px;
}
