@import "react-slideshow-image/dist/styles.css";

@font-face {
  font-family: "HaguroBold";
  src: local("HaguroBold"),
    url("./font/Haguro/Haguro-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Falose";
  src: local("Falose"), url("./font/Falose/Falose.ttf") format("truetype");
  font-weight: bold;
}
.content-test{
  display: flex;
  justify-content: space-between;
  
}
.content-test a{
  font-size: 1.5rem;
}